<!DOCTYPE HTML>
<html>
  <head>
    <title> AdjustaBLE Sounds </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/reelyactive.css">
    <link rel="stylesheet" href="style/adjustable-sounds.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/Tone.min.js"></script>
    <script type="text/javascript" src="js/adjustable-sounds.js"></script>
  </head>
  <body ng-app="adjustable-sounds">
    <div ng-controller="ExperienceCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="images/knob.png" ng-class="knobs.a.classes"><br>
            <form class="form-inline">
              <div class="form-group">
                <select class="form-control" ng-model="knobs.a.id" id="knobA">
                  <option ng-repeat="id in beacons track by id"
                          value="{{id}}"> {{id}} </option>
                </select>
                <label for="knobA"> &nbsp; {{knobs.a.angleString}}&deg; </label>
              </div>
            </form>
          </div>
          <div class="col-md-4 text-center">
            <img src="images/knob.png" ng-class="knobs.b.classes"><br>
            <form class="form-inline">
              <div class="form-group">
                <select class="form-control" ng-model="knobs.b.id" id="knobB">
                  <option ng-repeat="id in beacons track by id"
                          value="{{id}}"> {{id}} </option>
                </select>
                <label for="knobB"> &nbsp; {{knobs.b.angleString}}&deg; </label>
              </div>
            </form>
          </div>
          <div class="col-md-4 text-center">
            <img src="images/knob.png" ng-class="knobs.c.classes"><br>
            <form class="form-inline">
              <div class="form-group">
                <select class="form-control" ng-model="knobs.c.id" id="knobC">
                  <option ng-repeat="id in beacons track by id"
                          value="{{id}}"> {{id}} </option>
                </select>
                <label for="knobC"> &nbsp; {{knobs.c.angleString}}&deg; </label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/adjustable-sounds"> AdjustaBLE Sounds </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
